body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
}
img {
    display: block;
    transform: scale(0.9);
}
.info {
    text-align: center;
    padding-top: 45px;
}